
#submit{
    background-color:#f688f7;
}
#submit:hover{
    background-color: #aa076b;
    color: white;
}
.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 40px;
    max-width: 600px;
    min-width: 250px;
  
    border: solid 15px #aa076b ;

}
#signintext{
    font-size: 15px;
    
}
#signin{
    padding: 2px;
    font-size: 15px;
    
}
label{
    font-size: 20px;
}
#close{
    background-color: red;
    color: white;
    margin-top:-10px; 
    float: right;
    margin-right: -22px;
    font-size: 15px;
    padding: 5px 9px;
    position: relative;
}
form h4{
    font-size: 20px;
    background-color: #aa076b;
    padding-top:10px ;
    padding-bottom: 10px;
}
.inline{
    display: inline-block;
  padding: 10px;
}


